html {
    background-color: #141301;
    margin: 20px; 
    color:aliceblue; 
    font-size: x-large;  
}

h1 {
    text-align: center;
    font-size: 200%;
    background-color: #775253;
    padding: 10px;
    border: 3px solid;
    border-color: #4B88A2;
}

.bio {
    margin:  25px;
    padding: 15px;
    border: 5px solid;
    border-color: #4B88A2;
    color:black;
    background-color: #E5E7E6;
    font-size: xx-large;
    list-style-type: square
}

#btn {
    width:80%;
    height:50px;
    position: relative;
    left: 10%;
    background-color: #4B88A2;
    color:#E5E7E6;
    font-size: 1.2em;
    border-color: #775253;
    font-style: Copperplate;
}
#bioList {
    list-style-type: square;
    list-style-position: inside;
}

#answerList {
    margin:  25px;
    margin-left: 25;
    padding: 15px;
    border: 5px solid;
    border-color: #4B88A2;
    color:black;
    background-color: #E5E7E6;
    font-size: xx-large;
    list-style-type: square;
    list-style-position: inside;
}

li {
    margin: 10px;
}

p {
    margin:  25px;
    padding: 15px;
    border: 5px solid;
    border-color: #4B88A2;
    color:black;
    background-color: #E5E7E6;
    font-size: xx-large;
    list-style-type: square
}

img {
    width: 100%;
}

article {
    margin:  25px;
    padding: 15px;
    border: 5px solid;
    border-color: #4B88A2;
    color:black;
    background-color: #E5E7E6;
    font-size: xx-large;
}

#stateList {
    display: table;
    list-style-type:decimal-leading-zero;
    list-style-position: inside;
}

h3 {
    align-content: center;
}
.cell {
    padding-top: 50px;
    display: table-cell;
    width: 22.11%;
}

#inc {
    font-size: 1.75em;
    color: #E5E7E6;
    text-align: center;
    background-color: #775253;
    padding: 10px;
    border: 3px solid;
    border-color: #4B88A2;
}